html,
body {
  overflow-x: hidden;
  font-size: $root-font-size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: initial !important;
  min-height: 100%;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}
